ul{
    
    display: flex;
 
    
}
li{
  margin-left: 2em;
  list-style-type: none;

}

a{
 text-decoration: none;
}

li:hover{
    color: rgb(98, 246, 25);

}
/* breadcrumbs*/
ol{
 
    display: flex;
}
/* 5*/
.fiche{
    margin: 5px;
   width: 200PX;
    border: 2PX solid greenyellow;


}
.lesFiche{
    display: flex;
}
.youSaving{
color: green;
}
section{
    margin: 10px;
}

.logo{
    width: 70px;
    height: 70PX;
}
.footerlogo{
margin-top: 10em;
    width: 35PX;
    border: 2px solid black;
}
.footer_paragraph{ 
     border: 2px solid black;
display: inline-block;

}